REACT_APP_BACKEND_URL=https://api.osiolog.com
REACT_APP_FIREBASE_API_KEY=AIzaSyBOc8xQ0l8W4nybrJHGzhJhzk8akKT7xCs
REACT_APP_FIREBASE_AUTH_DOMAIN=osioloc-prod.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=osioloc-prod
REACT_APP_FIREBASE_STORAGE_BUCKET=osioloc-prod.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=359547764030
REACT_APP_FIREBASE_APP_ID=1:359547764030:web:0b3ee554d033cd4579006f
REACT_APP_FIREBASE_VAPID_KEY=BItdejEG7CMeWD5P903A2cY0spHqAKBzIKntBjN5EDLnB41DvibmZY_hbizA_3Zd5DwPR8sVZS_S_vmm3e_FlYA
