REACT_APP_BACKEND_URL=https://api.osiolog.com

REACT_APP_FIREBASE_API_KEY=AIzaSyDIU1K6wogiRx8KTogouocRrV0-KyAGr_s
REACT_APP_FIREBASE_AUTH_DOMAIN=osiolog-prod.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=osiolog-prod
REACT_APP_FIREBASE_STORAGE_BUCKET=osiolog-prod.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=747033067519
REACT_APP_FIREBASE_APP_ID=1:747033067519:web:6ff375e7b621f05312b1ca
REACT_APP_FIREBASE_VAPID_KEY=
